/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #a9bf0482;
    color: #333;
}

/* Container principal */
main {
    width: 100%;
}

/* Header */
header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .logo {
    max-width: 100px;
}

header .toggle {
    display: none;
    width: 30px;
    height: 30px;
    background-color: #fff;
    cursor: pointer;
}

header ul li{
    list-style: none;
}

header ul{
    position: relative;
    display: flex;
}

header ul li a{
    /* garante que o elemento seja renderizado em linha dentro do bloco */
    display: inline-block;
    color: var(--corSecundaria);
    font-size: 20px;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    padding: 5px;
}
/* hover dos links do cabeçalho */
header ul li a:hover{
    background-color: #2C4001;
    color: #fff;
    border-radius: 7px;
}

header .orcamento {
    background-color: #5A7302;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
}

.foto {
    height: 30%;
    width: auto;
    border: 2px solid #fff; 
    border-radius: 10px;
    translate: (-50%, -50%);
}

/* Responsividade - Menu Hamburguer */
@media (max-width: 768px) {
    header .links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #5A7302;
        width: 100%;
        text-align: center;
    }

    header .toggle {
        display: block;
    }

    header .links li {
        margin: 15px 0;
    }

    header .links.show {
        display: flex;
    }
}
ul, li{
    list-style-type: none 
}
/* Conteúdo */
.conteudo {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.textoPrincipal h2 {
    font-size: 3em; 
    margin-bottom: 1em; 
    color: #5A7302;
}

.textoPrincipal p {
    font-size: 2rem;
    margin: 10px 0;
}

.textoPrincipal a {
    text-decoration: none;
    color: #fff;
    background-color: #5A7302;
    padding: 10px 20px;
    border-radius: 5px;
}

.explicacao h3 {
    font-size: 1.5rem;
    color: #5A7302;
}

.paqueteis {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.paqueteis li {
    width: 30%;
    margin: 10px 0;
}

.paqueteis img {
    max-width: 100%;
    cursor: pointer;
}

h3, h4{
    color: #5A7302;
    font-size: 3em; 
    margin-bottom: 1em; 
}

img{
    width: 50%; 
    height: 50%; 
    background-size: cover; 
    align-items: center;
    background-position: center; 
    margin-bottom: 1em; 
}

p{
    font-size: 1.5em; 
    margin-bottom: 1em; 
}

.rede{
    font-size: 1.5em; 
    margin-bottom: 1em; 
    align-items: center;
    color: #fff;
    text-align: center;
}

button{
    color: #fff;
    background-color: #5A7302;
    border-radius: 7px;
    font-size: 2em; 
    margin-bottom: 1em; 
}
/* Footer */
footer {
    background-color: #ffffff;
    color: #5A7302;
    text-align: center;
    padding: 20px;
}

.sociais {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.sociais li {
    margin: 0 10px;
}

.sociais a img {
    width: 40px;
}

/* Responsividade - Adaptando para telas menores */
@media (max-width: 768px) {
    .conteudo {
        flex-direction: column;
        align-items: center;
    }

    .textoPrincipal h2 {
        font-size: 1.5rem;
    }

    .paqueteis li {
        width: 100%;
        margin-bottom: 20px;
    }
}
