/* Reset e Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

/* Cores */
:root {
    --corPrimaria: #731702;
    --corSecundaria: #D9B504;
    --corTerciaria: #fff;
    --primary: #F2D129;
    --secondary: #1BCBF2;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
}


body {
    background: url(img/fundo.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que a altura mínima seja de 100% da altura da tela */
    margin: 0;
}

/* Container principal */
main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside {
    background-color: var(--corSecundaria);
}

/* Cabeçalho */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--corTerciaria);
}

header .logo {
    position: relative;
    max-width: 80px;
}

header .logo:hover {
    filter: invert(0.1);
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: var(--corSecundaria);
    font-size: 20px;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    padding: 5px;
}

header ul li a:hover {
    background-color: var(--corPrimaria);
    color: var(--corTerciaria);
    border-radius: 7px;
}

.conteudo {
    flex-grow: 1; /* Permite que o conteúdo ocupe o espaço disponível */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.conteudo .textoPrincipal {
    position: relative;
    max-width: 600px;
    text-align: center; /* Centraliza o texto */
}

.conteudo .textoPrincipal h2 {
    color: var(--corSecundaria);
    font-size: 2.5em;
    line-height: 1.5em;
    font-weight: 500;
}

.conteudo .textoPrincipal h2 span {
    color: var(--corPrimaria);
    font-size: 1.2em;
    font-weight: 900;
}

.conteudo .textoPrincipal p {
    color: var(--corSecundaria);
    text-align: center; /* Centraliza o parágrafo */
}

.conteudo .textoPrincipal a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: var(--corPrimaria);
    color: var(--corTerciaria);
    text-decoration: none;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
}

.conteudo .textoPrincipal a:hover {
    background-color: var(--corSecundaria);
    color: var(--corTerciaria);
    border-radius: 40px;
    text-decoration: none;
}

/* Imagens */
.conteudo .imgBox {
    width: 600px;
    display: flex;
    justify-content: center;
    padding-right: 50px;
    margin-top: 50px;
}

.conteudo .imgBox img {
    max-width: 340px;
    transition: transform 0.3s ease; /* Transição para efeito ao rolar */
}

.conteudo .imgBox img:hover {
    transform: scale(1.05); /* Efeito de aumento da imagem ao passar o mouse */
}

/* Redes Sociais */
.sociais {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sociais li {
    list-style: none;
}

.sociais li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.sociais li a:hover {
    color: var(--corSecundaria);
    filter: invert(0);
}

#whats {
    height: 40px;
}

#x {
    height: 40px;
}
/* Botão Orçamento */
.orcamento {
    display: inline-block;
    background-color: #731702cb;
    color: var(--corTerciaria);
    font-size: 22px;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    padding: 7px;
    border-radius: 7px;
}

.explicacao{
    color: var(--corSecundaria);
    font-size: 2.5em;
    line-height: 1.5em;
    font-weight: 500;
}

footer {
    background-color: #fff;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    position: relative; /* Garante que o footer seja empurrado para baixo */
}

footer p {
    font-size: 20px;
    text-align: center;
}

/* Responsividade */
@media (max-width: 992px) {
    header {
        padding: 20px;
    }

    .conteudo {
        flex-direction: column;
    }

    .conteudo .imgBox {
        max-width: 300px;
    }

    .sociais {
        right: 20px;
    }
}

@media (max-width: 450px) {
    /* Event form */
    #event-subscription {
        flex-direction: column;
        height: auto;
    }
    #disclaimer {
        padding: 2em;
    }
    #disclaimer h2 {
        margin-bottom: 0.5em;
    }
    #subscription-form {
        max-width: 70%;
        margin-bottom: 2em;
    }

    /* Benefits section */
    .benefits {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2em;
    }
    .benefit {
        max-width: 100%;
        margin-bottom: 2em;
    }

    /* Event location */
    #location {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 2em;
    }
    #address {
        order: 2;
        flex-direction: column;
        max-width: 100%;
    }
    #address i {
        margin: 0.3em 0;
    }
    #about-location {
        order: 1;
        max-width: 100%;
    }
    #about-location h3 {
        margin-bottom: 0;
    }
    #about-location p {
        display: none;
    }

    /* Event details container */
    .detail {
        flex-direction: column;
        margin-bottom: 0.5em;
        gap: 0;
    }
    .detail img {
        width: 100%;
        margin: 2em 0;
    }
    #detail-1 img {
        display: none;
    }
    .detail-description {
        padding: 0;
    }
    #detail-3 img {
        order: 2;
    }
    #detail-3 .detail-description {
        order: 1;
    }

    /* Call to Action Section */
    #cta .btn {
        width: 80%;
    }
}
